/*
 * Copyright '2022' Iulian Stoicescu or its subsidiaries. All Rights Reserved.
 */
.home-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .btn {
    cursor: pointer;
    color: yellow;
    background-color: darkblue;
    border-color: yellow;
    padding: 1rem;
    margin: 1rem;
  }
}

