.shell-box{
  background-color: coral;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  flex-direction: column;

  .shell-title {
    margin: 2rem 0;
  }

  .shell-router-box {
    background-color: black;
    margin-bottom: 2rem;
    padding: 2rem;
  }
}
